body,
html {
  margin: 0;
}

body {
  background-color: lightgoldenrodyellow;
  color: navy;
  font-family: sans-serif;
}

@media screen and (max-width: 576px) {
  body {
    margin-left: 5px;
    margin-right: 5px;
  }

  h1 {
    font-size: 1.5em;
  }

  figure > img {
    max-width: 100%;
  }
  table {
    font-size: 0.65em;
  }
  form {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  body {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media screen and (min-width: 576px) {
  figure > img {
    max-width: 300px;
  }
  form {
    width: 60vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    margin-left: 100px;
    margin-right: 100px;
  }
  h1 {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 992px) {
  body {
    margin-left: 200px;
    margin-right: 200px;
  }
  h1 {
    font-size: 3em;
  }
}

h1,
h2,
h3,
header,
footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

footer {
  margin-top: 10px;
}

h3 {
  color: maroon;
}

header nav {
	margin-bottom: 10px;
}

figure {
  text-align: center;
  padding: 0;
  margin: 0;
}

figure img {
  border: 4px outset rgb(211, 211, 182);
}

figcaption {
  font-style: italic;
  margin-top: 3px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: maroon;
}

a:hover {
  color: rgb(197, 29, 29);
  cursor: pointer;
}

a:active {
  color: maroon;
}

.indent {
  margin-left: 1em;
}

table,
th,
td {
  border: 1px solid black;
}

figure th {
  background-color: goldenrod;
}

figure tr:nth-child(even) {
  background-color: rgb(211, 211, 182);
}

form {
  margin: 0 auto;
  padding-bottom: 2em;
}

form p {
  margin: 4px;
}

fieldset {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

fieldset:last-of-type {
  border-bottom: 0;
}

label {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: small;
}

textarea {
  resize: vertical;
  height: 50px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  background-color: rgb(211, 211, 182);
  border: none;
  margin-top: 4px;
  font-family: sans-serif;
}

input[type="radio"],
input[type="checkbox"] {
  margin-left: 5px;
  margin-right: 5px;
}

input[type="file"] {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input::file-selector-button,
button {
  background-color: navy;
  color: aliceblue;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 150px;
  height: 30px;
}

.button-group {
  display: block;
  width: 100%;
}

.alert-box {
  margin-top: 15px;
  border: 2px double rgb(211, 211, 182);
  min-height: 20px;
}

.golden-button {
  background-color: gold;
  border: 4px solid darkgoldenrod;
  color: darkgoldenrod;
}

section:not(:last-child) {
  border-bottom: 2px outset rgb(211, 211, 182);
  margin-bottom: 15px;
}

#calc-message {
  text-align: center;
}

.delete-button {
  background-color: maroon;
}

.return-button {
  display: block;
  margin: 10px auto;
}

#calc-container {
  display: block;
  text-align: center;
  margin: 20px auto;
  background-color: rgb(211, 211, 182);
  border: 5px outset rgb(211, 211, 182);
}

.calc-button {
  font-size: larger;
}

.calc-button:hover {
  background-color: rgb(63, 63, 145);
}

#calc-display {
  font-size: larger;
  background-color: aliceblue;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 576px) {
  #calc-container {
    width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #calc-display {
    width: 210px;
  }
  .calc-button {
    width: 50px;
    height: 50px;
  }
  #calc-equals {
    width: 215px;
  }
}

@media screen and (min-width: 576px) {
  #calc-container {
    width: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #calc-display {
    width: 410px;
  }
  .calc-button {
    width: 100px;
  }
  #calc-equals {
    width: 415px;
  }
}

.hidden {
  display: none;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 4px inset rgb(211, 211, 182);
}

.slideshow {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  border: 4px outset rgb(211, 211, 182);
}

@media screen and (min-width: 1200px) {
  .slideshow {
    max-width: 60%;
  }
}

.slide {
  display: none;
  margin: 0;
}

.slide-image {
  margin-bottom: -4px;
}

.thumbnail {
  cursor: pointer;
  opacity: 0.6;
  object-fit: contain;
}

.thumbnail:hover {
  opacity: 1;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: lightgoldenrodyellow;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: navy;
  opacity: 0.8;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  opacity: 1;
  color: lightgoldenrodyellow;
  background-color: navy;
}

.caption-container {
  text-align: center;
  background-color: navy;
  padding: 2px 16px;
  color: lightgoldenrodyellow;
}

.thumbnail-row:after {
  content: "";
  display: table;
  clear: both;
}

.thumbnail-container {
  float: left;
  width: 9.09%;
}

.thumbnail-row {
  margin-bottom: -4px;
}

.active {
  opacity: 1;
}
