body {
  background-color: lightgoldenrodyellow;
  margin-left: 10vw;
  margin-right: 10vw;
  color: navy;
  font-family: sans-serif;
}

h1, h2, h3, header, footer {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: crimson;
}

a:visited {
  color: cadetblue;
}

a:hover {
  font-style: italic;
}

a:active {
  color: maroon;
}

figure {
  text-align: center;
}

figure img {
  width: 50vw;
  max-width: 350px;
}

figcaption {
  font-style: italic;
}

.indent {
  margin-left: 1em;
}

