<footer>
	<p>Personal Webspaces</p>
  <nav>
    <a href="https://webpages.charlotte.edu/gcawley/">UNC Charlotte</a>
    <a href="https://github.com/cawleygl">Github</a>
    <a href="https://www.freecodecamp.org/cawleygl">freeCodeCamp</a>
    <a href="https://www.linkedin.com/in/grant-l-cawley/">LinkedIn</a>
  </nav>
	<p>Certifications</p>
	<nav>
		<a href="https://www.credly.com/badges/ced265e1-c704-4c36-9402-66bcd079e4b3/embedded">Washington University Full-Stack Web Development</a>
		<a href="https://www.freecodecamp.org/certification/cawleygl/responsive-web-design">freeCodeCamp Responsive Web Design</a>
		<a href="https://www.freecodecamp.org/certification/cawleygl/javascript-algorithms-and-data-structures">freeCodeCamp JavaScript</a>
	</nav>
  <p id="signature">&copy;Grant Cawley 2023</p>
</footer>