<header>
    <nav>
        <a href="index.html" id="nav-logo" onmouseenter="navLogoHighlight();" onmouseleave="navLogoHighlight();">
            <img id="nav-logo-image-color" class="nav-logo-image" src="./images/stuffmadebymdlogotransparent.png" alt="Stuff Made by MD Logo">
            <img id="nav-logo-image-highlight" class="nav-logo-image invisible" src="./images/stuffmadebymdlogohighlight.png" alt="Stuff Made by MD Logo">
        </a>
        <div id="collapse-button" class="down" onclick="toggleNavDropdown();"><div id="collapse-arrow" class="down"></div></div>
        <a href="about.html" class="nav-link closed">About</a>
        <a href="featured.html" class="nav-link closed">Featured</a>
        <a href="search.html" class="nav-link closed">Search</a>
        <a href="getawaycarmotelkeychain.html" class="nav-link closed">Product</a>
    </nav>
</header>