<header>
  <h1>Grant Cawley's Gilded Condor &#9884; ITIS3135</h1>
  <nav>
    <a href="./">Home</a>
    &#9884;
    <a href="introduction.html">Introduction</a>
    &#9884;
    <a href="contract.html">Contract</a>
    &#9884;
    <a href="tables.html">Tables</a>
    &#9884;
    <a href="forms.html">Forms</a>
    &#9884;
    <a href="website_evaluations.html">Website Evaluations</a>
    &#9884;
    <a href="firstscripts.html">First Scripts</a>
    &#9884;
    <a href="byo_intro.html">BYO Intro</a>
    &#9884;
    <a href="project_1.html">Project 1</a>
    &#9884;
    <a href="emmet.html">Emmet</a>
    &#9884;
    <a href="calculator_try.html">Calculator Try</a>
    &#9884;
    <a href="calculator_fcc.html">Calculator FCC</a>
    &#9884;
    <a href="arrays.html">Arrays</a>
    &#9884;
    <a href="interactiveDrawing.html">Interactive Drawing</a>
    &#9884;
    <a href="review1.html">Peer Review 1</a>
    &#9884;
    <a href="review2.html">Peer Review 2</a>
    &#9884;
    <a href="slideshow.html">Slideshow</a>
  </nav>
  <nav>
    <a href="stuff/folder/v&ry%20c0Ol%20W3b.htm">Crappy Webpage</a>
    &#9884;
    <a href="stuffmadebymd">Stuff Made by MD</a>
    &#9884;
    <a href="hobby">Hobby</a>
  </nav>
</header>