/* https://coolors.co/76c9be-7b2828-e4b54f-202c39-df8780 */
:root {
  --paper-yellow: rgb(244, 229, 170);
	--paper-white: rgb(243, 242, 237);
  --line-blue: rgba(14, 189, 238, 0.626);
  --line-red: rgba(255, 78, 78, 0.528);
  --spine-brown: rgb(49, 26, 20);
  --spine-label: rgb(186, 186, 186);
  --ink-blue: rgb(25, 9, 127);
  --ink-red: rgb(169, 27, 27);
  --note-pink: rgb(248, 132, 227);
  --note-blue: rgb(108, 228, 238);
  --note-green: rgb(150, 244, 99);
  --note-yellow: rgb(245, 245, 67);
  --shadow: rgba(94, 94, 94, 0.561);
}

.no-highlight {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-select: none;
  -webkit-touch-callout: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  min-height: calc(100dvh - 60px);
}

html {
	background-color: var(--paper-yellow);
}

body {
  background: linear-gradient(var(--line-blue) 1px, var(--paper-yellow) 1px);
  background-size: 100% 35px;
  color: var(--ink-blue);
  margin: 0;
  font-family: "Carrois Gothic", sans-serif;
}

main {
	position: block;
  margin-top: 60px;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
	font-family: "Caveat Brush", cursive;
	padding-bottom: 0;
}

ul {
  list-style-type: square;
}

a {
	color: var(--ink-red);
  text-decoration: none;
  font-style: normal;
}

a:hover,
#washu-badge > iframe:hover {
  cursor: pointer;
  font-style: italic;
}

.closed {
  display: none;
}

.open {
  display: block;
}

/* ----- HEADER ----- */

header nav {
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--spine-brown);
  color: var(--spine-label);
  box-shadow: 0 2px 0 var(--shadow);
}

header nav a {
  height: 30px;
  display: block;
  color: var(--spine-label);
}

.nav-link {
  font-size: large;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  float: right;
}

header nav a.closed:hover,
#nav-arrow:hover,
#nav-icon:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--ink-red);
}

#nav-icon {
  font-size: 25px;
  padding: 15px 20px;
  float: left;
  font-family: "La Belle Aurore", cursive;
}

@media screen and (min-width: 768px) {
  #nav-arrow {
    display: none;
  }
  .nav-link {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  #nav-arrow {
    float: right;
    right: 100px;
    margin-top: 0;
    color: var(--white);
    font-size: 2em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 20px;
    transition: transform 0.2s ease;
  }

  .up {
    transform: rotate(90deg);
  }

  .down {
    transform: rotate(-90deg);
  }

  .nav-link {
    width: 100%;
    float: left;
    background-color: var(--paper-yellow);
    color: var(--ink-blue);
    border-top: 2px solid var(--shadow);
  }

  .nav-link:nth-child(4n-3) {
    background-color: var(--note-pink);
  }
  .nav-link:nth-child(4n-2) {
    background-color: var(--note-blue);
  }
  .nav-link:nth-child(4n-1) {
    background-color: var(--note-yellow);
  }
  .nav-link:nth-child(4n) {
    background-color: var(--note-green);
  }
}

/* ----- FOOTER ----- */

footer {
  position: sticky;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: var(--paper-yellow);
  top: 100dvh;
  text-align: center;
}

footer nav a {
  background-color: var(--note-yellow);
	transform: skew(-5deg);
  margin-bottom: 10px;
  font-size: small;
  display: inline-block;
  padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
  margin-left: -5px;
}

footer > .title {
  margin-bottom: 2px;
	font-family: "Caveat Brush", cursive;
	font-size: 1.1em;
}

#signature {
  margin-top: 10px;
  margin-bottom: -10px;
  font-family: "La Belle Aurore", cursive;
  text-align: center;
	text-decoration: none;
}

/* ----- CONTENT ----- */

.paper-title {
  background-color: var(--paper-yellow);
  padding-top: 5px;
  padding-bottom: 5px;
}

#about-text {
  min-height: 350px;
}

.red-line {
  position: fixed;
  border-left: 6px double var(--line-red);
  min-height: calc(100dvh - 60px);
  width: 0;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .paper-title,
	.card-group {
    padding-left: 30px;
    padding-right: 30px;
  }
  .red-line {
    left: 5px;
  }
	#washu-badge {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .paper-title,
	.card-group {
		padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .paper-title,
	.card-group {
		padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
	.paper-title,
	.card-group {
    padding-left: 300px;
    padding-right: 300px;
  }
}
@media screen and (min-width: 2000px) {
	.paper-title,
	.card-group {
    padding-left: 400px;
    padding-right: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .red-line {
    left: 20px;
  }
	#washu-badge {
		right: 10px;
	}
}

@media screen and (min-width: 1400px) {
  .red-line {
    left: 200px;
  }
	#washu-badge {
		right: 150px;
	}
}

/* ----- CARDS & FIGURES ----- */
/* 
	a.card = sticky note
	div.card = index card
	figure = picture 
*/

figure,
.card {
	display: inline-block;
  position: relative;
	vertical-align: top;
	margin: 15px;
	z-index: 3;
}

div.card {
	background: linear-gradient(var(--line-blue) 1px, var(--paper-white) 1px);
  background-size: 100% 30px;
	max-width: 600px;
	min-width: 350px;
	aspect-ratio: 5/3;
}

a.card{
	box-shadow: 3px 5px 5px var(--shadow);
	max-width: 80%;
	max-height: 600px;
	min-width: 200px;
	aspect-ratio: 1;
}


figure,
div.card {
	background-color: var(--paper-white);
	box-shadow: 1px 1px 4px var(--shadow);
}

a.card:nth-child(4n-3) {
  background-color: var(--note-pink);
}
a.card:nth-child(4n-2) {
  background-color: var(--note-blue);
}
a.card:nth-child(4n-1) {
  background-color: var(--note-yellow);
}
a.card:nth-child(4n) {
  background-color: var(--note-green);
}

figure {
	background-color: var(--paper-white);
	color: var(--ink-blue);
	width: 325px;
  height: 350px;
	padding-top: 25px;
}

figure > img {
	width: 275px;
	height: 275px;
	object-fit: cover;
}

figcaption {
  color: var(--ink-blue);
  font-style: italic;
  text-align: center;
	margin-top: 20px;
}

.card-group {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin: 0 auto;
}

a.card:hover,
#washu-badge > iframe:hover {
	box-shadow: 8px 8px 7px var(--shadow);
	transform: translate(-6px, -1px) skew(-1deg);
}

.card-header {
	width: 100%;
	padding-top: 2px;
  font-size: 1.6em;
	font-family: "Caveat Brush", cursive;
}

div.card > .card-header {
	background-color: var(--paper-white);
	border-bottom: 2px solid var(--line-red);
}

.card-content {
  text-align: left;
}

div.card > .card-content {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 60px;
	line-height: 1.87;
	text-align: justify;
}

.card-icon {
	margin-top: 30px;
	font-size: 5em;
  font-style: normal;
}

.card-footer {
	background-color: var(--paper-white);
	padding-top: 2px;
	padding-bottom: 5px;
	font-size: larger;
	font-style: italic;
	position: absolute;
	bottom: 0;
	left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 	
}

/* .popup {
  position: relative;
  display: inline-block;
}

.popup-text {
	display: none;
	width: 120px;
  background-color: var(--dark);
  color: var(--white);
  text-align: center;
  border-radius: 5px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: -50%;
  margin-left: 5px;
}

.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* The actual popup (appears on top) */
.popup .popup-text {
  width: 100px;
  background-color: var(--starry-night);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 160%;
  left: -30%;
  transition: opacity 0.25s ease;
}

/* Popup arrow */
.popup .popup-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--starry-night) transparent;
}

#washu-badge {
  margin-top: 20px;
  margin-bottom: 20px;
	position: absolute;
}

#washu-badge > iframe {
  background-color: var(--note-blue);
	box-shadow: 3px 5px 5px var(--shadow);
}
